*
{
	background-color: #E6E6FA;
}

.titre
{
	font-weight: bold;
	text-align: right;
}

.titre2
{
	font-weight: bold;
}

table
{
	margin-top: 50px;
}

h2
{
	size: 20px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;	
}


